.container{
    margin-bottom: 100px;;
}
.rounded-pill1{
    border-right: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    font-style: italic;
}
.rounded-pill2{
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
.bg-secondary{
    background-color: #e9ecef!important;
}
.rounded-pill1:focus{
    border: none;
}
.c-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price-color{
    color: #ec2fec;
    font-weight: 400;
    font-size: 30px;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    border-radius: 10px;
    padding: 12px 30px;
    margin-top: 10px;
    color: white;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;

}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
    padding-bottom: 15px;
}